.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}
.image-box {
    gap: 100px;
    border: solid;
    line-height: 50px;

}

@media {
    .image-box{
        width: 250px;
        max-width: 300px;
    }
}